codigo-n8n-gemini.json
{
  "name": "relatorio-aulas",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d880dbd4-ec23-4ad3-84c8-4a3e619e14d4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "a503d3f5-59c9-4ed3-9a57-fca90a2574c8",
      "name": "Webhook",
      "webhookId": "d880dbd4-ec23-4ad3-84c8-4a3e619e14d4"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.body.transcricao;\n\n// Remove timestamps e números de linha do SRT\nconst limpo = raw\n  .replace(/^\\d+$/gm, '')                          // remove números de linha\n  .replace(/\\d{2}:\\d{2}:\\d{2},\\d{3} --> \\d{2}:\\d{2}:\\d{2},\\d{3}/g, '') // remove timestamps\n  .replace(/\\n{2,}/g, '\\n')                         // remove linhas em branco duplas\n  .split('\\n')\n  .map(l => l.trim())\n  .filter(l => l.length > 3)                        // remove linhas muito curtas (ruído)\n  .join(' ');\n\nreturn [{\n  json: {\n    ambiente:     $input.first().json.body.ambiente,\n    turma:        $input.first().json.body.turma,\n    linkLoom:     $input.first().json.body.linkLoom,\n    linkSlides:   $input.first().json.body.linkSlides,\n    transcricao:  limpo,\n    data:         new Date().toLocaleDateString('pt-BR'),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "c14917e0-c05d-4911-b387-83d6df0fa353",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um assistente pedagógico especializado em criar relatórios de aula.\nResponda SEMPRE em português brasileiro.\nResponda APENAS com o texto do relatório formatado em Markdown.\nNão adicione nenhum comentário, explicação ou texto fora do relatório.\n\nCrie um relatório completo da aula com base na transcrição abaixo.\n\n**Dados da aula:**\n- Turma: {{ $json.turma }}\n- Data: {{ $json.data }}\n- Link da gravação: {{ $json.linkLoom }}\n- Link dos slides: {{ $json.linkSlides }}\n\n**Transcrição:**\n{{ $json.transcricao }}\n\n---\n\n**REGRAS OBRIGATÓRIAS — leia antes de escrever:**\n\n**REGRA 1 — Conteúdos extras (OBRIGATÓRIO):**\nANTES de escrever o relatório, você DEVE obrigatoriamente usar a\nferramenta de busca. Execute as seguintes pesquisas:\n1. \"[tema da aula] tutorial português\"\n2. \"[ferramenta usada na aula] documentação oficial\"\n\nInclua de 2 a 4 links retornados pela busca. NUNCA invente URLs.\nEsta seção não pode ficar vazia — a busca é obrigatória.\n\n**REGRA 2 — Atividade de casa (deve ser paralela, não repetida):**\nA atividade proposta NUNCA pode ser a mesma exercida durante a aula. Ela deve ser uma atividade COMPLEMENTAR e PARALELA — um novo desafio que aplica os mesmos conceitos em um contexto diferente, com dados diferentes, cenário diferente ou abordagem diferente da praticada em aula. Antes de escrever a atividade, identifique internamente qual foi a atividade feita em aula e garanta que a de casa seja distinta dela.\n\n---\n\nO relatório deve seguir EXATAMENTE esta estrutura:\n\n*#[TURMA]*\n*Data:* [DATA]\n*Conteúdo:* [Título claro do assunto da aula em 1 linha]\n\n*Objetivos da aula:*\n- [Liste 4 a 6 objetivos de aprendizagem específicos]\n\n*Link da aula:* [LINK_LOOM]\n*Slides:* [LINK_SLIDES ou \"Feito com alunos no quadro.\" se vazio]\n\n*Atividade de casa:*\n*Teoria:* [Resumo teórico denso em 1 parágrafo]\n*Prática:* [Exercício prático numerado com 4 a 6 passos — DIFERENTE da atividade feita em aula (veja Regra 2)]\n\n*Conteúdos extras:*\n- [Apenas links que você tem CERTEZA que existem — NÃO invente URLs (veja Regra 1)]\n\nProf. Douglas 🎮",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "725e43d3-af9c-4760-9b91-4a2181b50500",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "492ff9c1-6d8f-4da1-8349-00831f6b4c98",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OD6h1kYiaPHujWqY",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const relatorio = $json.output ?? $json.text ?? '';\n\nreturn [{\n  json: {\n    relatorio: relatorio.trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "37f0e983-bb07-4632-96d4-d097eac7102b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        976,
        0
      ],
      "id": "f538e3ea-9785-44b9-a0c0-a28f3b48c3cc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $fromAI(\"query\", \"termo de busca\") }}"
            },
            {
              "name": "hl",
              "value": "pt"
            },
            {
              "name": "gl",
              "value": "br"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        576,
        208
      ],
      "id": "505c12c6-faa7-49c4-8d9f-44b929ea2edb",
      "name": "HTTP Request",
      "credentials": {
        "serpApi": {
          "id": "Ktt7AK14LlLIZTga",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "71c8681f-9183-4ff1-a618-caf6c832729b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a9059f09c62ee60e2bc113ad4bf8104044a15e5658903b74079444f1bd65099"
  },
  "id": "rtHEHIoGljn1qdH7",
  "tags": []
}